/* Configuration and global styles*/
body{
	background-color : black;
    overflow:hidden;
}

.configBackground{
    background-color: white !important;
    overflow-y:auto !important;
}

.configTitle{
    text-align:center;
    font-size:30px;
}
.configField{
    display:block;
    color:black;
}
.configInput{
    display:block;
}
.md-check{
    height:200%;
}
.submitWrapper{
    padding-top:30px;
    padding-left:50px;
    display:block;
}
#submitConfigs{
    height:70px;
    width:230px;
    font-size:large;
}
.row{
     padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Begin Actual smart mirror styles*/
.greetingText{
	text-align: center;
	color: white;
    font-size:-webkit-xxx-large;
}

.clock
{
	padding-top: 25px 
}

.clock_display{
	padding-right:20px;
	text-align:right;
	color: white;
	font-size: 400%;
}
.weather-wrapper{
	padding-right:20px;
	text-align:right;
	color:white;
	bottom: 10px;
	right: 30px;
    
}
.weather-today{
	font-size:200%;
}
.weather{
	font-size:x-large;
}
.paddedTemp{
    padding-bottom:10px;
    padding-right:0px !important;
}
.noPad{
    padding-right:0px !important;
}
.smallFont{
    font-size:x-large;
}
.weatherIcon
{
	bottom: 100px;
	right: 200px;
    height: 12%;
}
.smaller{
    height: 40px;
}
.futureForecast{
    padding-right:20px;
	text-align:right;
	color:white;
}
.icon
{
    height:100px;
    width:100px;
}

.screen{
	margin-left:0px;
	margin-right:0px;
}
.calendar_display{
	color: white;
	font-size: xx-large;
}
.calendar_content_font{
	color:white;
	font-size:20pt;
}
#city_select{
    height:40px;
}
.newsFeed{
    color: white;
    padding: 10px;
    height:580px !important;
    overflow-y: hidden;
}
.feedLabel{
    font-weight:bold;
    text-align:center;
    font-size:xx-large;
    padding-bottom:15px;
}
.article{
    padding: 10px;
}
.newsTitle{
    font-weight:bold;
}
.newsAbstract{
    
}
.col-lg-6,
.col-lg-3
{
	height: 90%;
    color: white;
}
